#canvas-message{
color:#000000
}

#canvas-instruction-message{
color:#000000
}

#canvasContainer { 
position: relative; 
}

#myCanvas{
/*border:1px solid #000000;
background-color:#FFFFFF;*/
border:1px solid #000000;
background-color:#FFFFFF;
/*position: absolute; 
top: 0px; 
left: 0px; */
}

/* Setting this up in the javascript
#drawCanvas { 
position: absolute; 
top: 0px; 
}
*/

#canvasControl-box {
/*position: relative;*/
}

#canvas-coord-message{
color:#000000;
position:relative;

}

