<%= javascript_include_tag "welcomeModule" %>
<%= javascript_include_tag "drawModule" %>
<%= javascript_include_tag "updateModule" %>

<head>
    <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body id="body">
<center id="instructions">
<div>
Hi, welcome to CanvUs 2.0<br>
Please select a canvas below to join a room 
</div>

<div>
	Click here to go to Canvas: 
	<input id="canvasButton1" type="submit" value="Click Me">
</div>
</center>


</body>
<script type="text/javascript">
initialize();
</script>