
body{
background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 553, color-stop(0, #FFFFFF), color-stop(1, #E8D5D6));
background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #FFFFFF 0%, #E8D5D6 100%);
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
}

#canvas-message{
color:#000000
}

#canvas-instruction-message{
color:#000000
}

#canvasContainer { 
position: relative; 

}

#myCanvas{
/*border:1px solid #000000;
background-color:#FFFFFF;*/
border:2px solid #FFFFFF;
border-style: double;
background-color:#FFFFFF;
/*position: absolute; 
top: 0px; 
left: 0px; */
}

/* Setting this up in the javascript
#drawCanvas { 
position: absolute; 
top: 0px; 
}
*/

#canvasControl-box {
/*position: relative;*/
}

#canvas-coord-message{
color:#000000;
position:relative;

}

